# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/
.env/

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/

# macOS / Linux trash
.DS_Store
Thumbs.db

# Output files di test/esperimenti
tests/testdata/*.v1.gcc
tests/testdata/*.v2.gcc
tests/testdata/*.v3.gcc
tests/testdata/*.v4.gcc
tests/testdata/*.v1.dec.txt
tests/testdata/*.v2.dec.txt
tests/testdata/*.v3.dec.txt
tests/testdata/*.v4.dec.txt
